<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @dog.customer_id %>
</p>

<p>
  <b>Name:</b>
  <%= @dog.name %>
</p>

<p>
  <b>:</b>
  <%= @dog. %>
</p>

<p>
  <b>Comments:</b>
  <%= @dog.comments %>
</p>


<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
