<div id="dialogContent" style="margin-top:5px;">
  <div id="showDetails" style=" position:relative">
    <div id="customerDetails" style="height:150px !important;width:100%">
  <div style="margin-top:20px;margin-left:15px;font-size:1.5em;font-weight:bold;width:40%;float:left;text-align:center"><%= @customer.full_name %></div>
  <span style="float:right;background:#eefbe9;border:1px inset #adbaa8;-moz-border-radius:6px; -webkit-border-radius:6px;margin-right:20px;padding:10px">
    <table style="width:250px">
      <tr>
        <td><b><%=@customer.address %></b></td>
      </tr>
      <tr>
        <td><%= @customer.prov %>, <%= @customer.country %>, <%= @customer.postal_code %></td>
      </tr>
      <tr>
        <td><%= @customer.phone %></td>
      </tr>
      <tr>
        <td><%= @customer.email %></td>
      </tr>
    </table>
  </span>
  </div>
    <div id="dogList">
      <%= render 'dog_list' %>
    </div>
  </div>


 
  <div id="showButtons" class="buttonContainer">
    <div class="buttonRow">
      <%= link_to "New Dog", new_dog_path(:customer_id => @customer.id), :class => 'jqButton ajaxLink', :id => 'newDogLink' %>
      <%= link_to "Edit Customer Details", edit_customer_path(@customer), :id => 'editLink', :class => "jqButton ajaxLink" %>
    </div>
  </div>
</div>


