<%= form_for Appointment.new, :validate => true do |f| %>
 <div class="field">
    <%= f.label :dog_id, "Appointment For?:" %><br />
    <%= f.collection_select :dog_id, Dog.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
