<%= form_for @appointment do |f| %>

			<ul>
				<li style="width:100%;text-align:center">
					<span style="font-weight:bold;font-size: 1.2em">Date: </span><span class="date_holder" style="font-size: 1.2em"></span>
				</li>
        <br />
        <li class="">
          <%= f.label :dog_id, "Customer/Dog:" %>
          <%= f.text_field :dog_id %>
        </li><br />
				<li>
					<label for="start">Start Time: </label><%= f.select :start,  "" %>
				</li><br />
				<li>
					<label for="end">End Time: </label><%= f.select :end , "" %>
				</li>
				
			</ul>
    

<% end %>