<h2><b><%= @appointment.dog.customer.forward_name %></b> - <%= @appointment.dog.name %></h2>
<br />
<p style="text-align: center">
  <%= @appointment.start.strftime("%b %d, %Y") %> - <%= @appointment.start.strftime("%H:%M")%> to <%= @appointment.end.strftime("%H:%M") %>
</p>
  
